/* general */
body{
  font-family: 'Lato', sans-serif;
}

footer{
  color: #ffffff;
}

.container_short{
  max-width: 800px;
  margin: auto;
}

a{
  text-decoration: none;
  color: #ffffff;
}

a:hover{
  color: #1ABC9C;
  text-decoration: none;
}

.pad_top_80{
  padding-top: 80px;
}
.pad_bott_80{
  padding-bottom: 80px;
}

.star_div span{
  color: #2C3E50;
  font-size: 40px;
  vertical-align: middle;
}

.star_div::after{
  content: "ciao";
  display: inline-block;
}

.star_div::before{
  content: "ciao";
  display: inline-block;
}

/* HEADER */
/* header_top */
.header_top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  color: #ffffff;
  background-color: #2C3E50;
  line-height: 120px;
}

.header_top h2{
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  line-height: 120px;
}

.header_top .list-inline{
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.header_top .list-inline li{
  padding-left: 20px;
}

.glyphicon-menu-hamburger{
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid #ffffff;
}
/* /header_top */

/* header_main */
.header_main{
  color: #ffffff;
  background-color: #1ABC9C;
  margin-top: 120px;
  text-align: center;
}

.header_main_img{
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
}

.header_main h1{
  font-weight: 700;
  font-size: 60px;
}

.header_main .description{
  font-size: 24px;
}
/* /header_main */
/* /HEADER */

/* MAIN */
/* main_top */
#portfolio h2{
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.portfolio_img{
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 30px;
}

.hover_plus{
  position: absolute;
  display: none;
  color: #ffffff;
  font-size: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(26, 186, 159, 0.8);
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.hover_plus span{
  position: absolute;
  color: #ffffff;
  font-size: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio_img img{
  width: 100%;
  border-radius: 5px;
}

.portfolio_img:hover .hover_plus{
  display: block;
}
/* /main_top */

/* main_central */
#about{
  background-color: #1ABC9C;
  text-align: center;
  color: #ffffff;
}

#about h2{
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}

#about p{
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  padding: 20px;
}

#about .download_btn{
  font-size: 22px;
  color: #ffffff;
  background-color: #1ABC9C;
  border-radius: 10px;
  border: 2px solid #ffffff;
  padding: 20px 30px;
  margin-top: 50px;
}

#about .download_btn:hover{
  color: #000000;
  background-color: #ffffff;
}
/* /main_central */

/* main_bottom */
#contact h2{
  text-align: center;
  color: #2C3E50;
  font-size: 50px;
  font-weight: 900;
}

#contact form input{
  border: none;
  border-bottom: 2px solid #000000;
  height: 80px;
  margin-bottom: 35px;
}

#contact .input_message{
  height: 150px;
}

#contact .btn_send{
  font-size: 20px;
  background-color: #1ABC9C;
  border-radius: 10px;
  padding: 20px 40px;
}

#contact .btn_send:hover{
  color: #ffffff;
  background-color: #159A80;
}
/* /main_bottom */

/* FOOTER */
/* footer_top */
.footer_top{
  background-color: #2C3E50;
  padding: 40px 0;

}

.footer_title{
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 900;
}

.footer_top p{
  font-size: 20px;
}

.social{
  font-size: 18px;
}

.social_list{
  width: 44px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  text-align: center;
  line-height: 40px;
  margin: 0 10px;
}

.social_list:hover{
  background-color: #ffffff;
}

.social_list:hover .social{
  color: #000000;
}

.starting{
  color: #1ABC9C;
}

.starting:hover{
  color: #157260;
  text-decoration: underline;
}
/* /footer_top */

/* footer_bottom */
.footer_bottom{
  background-color: #1A252F;
  padding: 20px 0;
}
/* /footer_bottom */
/* /FOOTER */
