/* HEADER */
/* header-top */
.header_top{
  color: #ffffff;
  background-color: #2C3E50;
  line-height: 120px;
}

.header_top h2{
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  line-height: 120px;
}

.header_top .list-inline{
  text-align: right;
  font-size: 18px;
  margin: 0;
}

.header_top .list-inline li{
  padding-left: 20px;
}

.fa-bars{
  font-size: 20px;
  float: right;
  border-radius: 3px;
  border: 1px solid #ffffff;
  padding: 8px;
}
/* /header-top */

/* header-main */
.header_main{
  color: #ffffff;
  background-color: #1ABC9C;
  height: 530px;
  text-align: center;
}

.header_main_img{
  width: 200px;
  height: 200px;
  background-color: #2C3E50;
  margin: 100px auto 30px auto;
  border-radius: 50%;
}

.title h1{
  font-weight: 700;
  font-size: 60px;
}

.header_main .description{
  font-size: 24px;
}
/* /header-main */
/* /HEADER */

/* MAIN */
/* main-top */
.main_top h2{
  text-align: center;
  font-size: 40px;
}

.bg_color{
  width: 100%;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.bgcolor_bordeaux{
  background-color: #BA4B63;
}
.bgcolor_lightblue{
  background-color: #1EA4B6;
}
.bgcolor_black{
  background-color: #000000;
}
.bgcolor_azzurro{
  background-color: #1C83C1;
}
.bgcolor_blue{
  background-color: #0E38B5;
}
.bgcolor_beige{
  background-color: #CCB2A3;
}
